PORT=8000
MONGODB_URI=mongodb+srv://samaytoradmal:12345@cluster0.a8ddwlt.mongodb.net
JWT_SECRET=dekhlobhai
CLOUDINARY_CLOUD_NAME = dyt3gy6ld
CLOUDINARY_API_SECRET = 159471595697684
CLOUDINARY_API_KEY = PKI69Ia6GhPI-VA5_y9zuSOEfXI
sax sux